/* mediaquery for mobile */
/* Make everything resize for phonesizes */

@media only screen and (max-width: 480px) {
    /* For mobile phones: */

    /* Style Bootstrap Row */
    .row {
        /* Make row responsive in every Displaysize (1.5em to left and right side) */
        margin-top: 4em;
        margin-bottom: 2em;
        min-width: 50%;
    }

    h1 {
        font-size: 1.80em;
    }

    p1 {
        width: 75%;
        font-size: .85em;
    }

    p {
        padding: .5em .01em;
        margin-top: 2em;
        width: 60%;
        font-size: medium;
    }

    #ident {
        padding: 0 1.5em;
        margin-top: .85em;
    }

    /* Style Miri Button */
    #b_miri {
        margin-top: 1em;
        margin-right: .5em;
        padding: .15em 1.15em;
    }

    /* Style Janis Button */
    #b_janis {
        margin-top: 1em;
        padding: .15em 1.15em;
    }

}