/* mediaquery for mobile */
/* Make everything resize for phonesizes */

@media only screen and (max-width: 480px) {
    /* For mobile phones: */

    /* Style Bootstrap Row */
    .row {
        /* Make row responsive in every Displaysize (0.5em to left and right side) */
        padding: 0 .5em;
        margin-top: 1.25em;
        margin-bottom: 1em;
        min-width: 50%;
    }

    h1 {
        margin-top: 1em;
        font-size: 1.80em;
    }

/* ################################################### */
    
/* Style Miri Button */
#b_edit {
    font-size: 1em;
    margin-top: .25em;
    margin-right: .75em;
    padding: .25em 1.15em;
}

/* Style Miri Button */
#b_timeline {
    font-size: 1em;
    margin-top: .25em;
    margin-right: .75em;
    padding: .25em 1.15em;
}

/* Style Miri Button */
#b_travel {
    font-size: 1em;
    margin-top: .25em;
    margin-right: .75em;
    padding: .25em 1.15em;
}

/* Style Miri Button */
#b_home {
    font-size: 1em;
    margin-top: .25em;
    padding: .25em 1.15em;
}

/* ################################################### */

    #greeting {
        padding: 0 1.5em;
        font-size: medium;
        margin-top: 2.5em;
    }

    #container_foru {
        padding: .5em 1.5em;
        width: 90%;
        margin-top: .01em;
        font-size: medium;
    }

    #foru_miri {
        font-size: small;
    }

    /* Style Miri Button */
    #b_mia {
        font-size: .95em;
        margin-top: 1em;
        margin-right: .5em;
        padding: .15em 1.15em;
    }

    #week {
        padding: 0 1.5em;
        font-size: medium;
        margin-top: 2.5em;
    }

    #janisweek {
        width: 90%;
        font-size: small;
    }

    ul {
        list-style-type: none;
        text-align: left;
        margin-top: 1em;
        margin-left: -1.25em;
    }

    #container_song {
        padding: .5em 1.5em;
        width: 90%;
        margin-top: .01em;
        font-size: medium;
    }

    #song_miri {
        font-size: small;
    }
}