body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
    background-color: #2b2b31;
}

/* Style Bootstrap Row */
.row {
    /* Make row responsive in every Displaysize (1.5em to left and right side) */
    padding: 0 1.5em;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 5em;
    min-width: 50%;
}

/* Style Input Card */
#input_card {
    text-align: center;   
    border-radius: 32px;
    background: #2b2b31;
    box-shadow:  -10px 10px 21px #232328,
                10px -10px 21px #33333a; 
}

h1 {
    font-size: xx-large;
    margin-top: 1.5em;
    padding: 0 1.5em;
    color: rgb(205, 204, 204);
}

/* ################################################### */

#b_edit_j {
    color: #177245;
    text-align: center;
    font-size: large;
    margin-right: 2em;
    margin-top: 1em;
    padding: .25em 1.25em;
    min-width: 10%;
    border: none;
    border-radius: 32px;
    background: #2b2b31;
    box-shadow:  -14px 14px 28px #232328,
                14px -14px 28px #33333a;
    cursor: pointer;
}

/* Change Miri Button on Hover */
#b_edit_j:hover {
    color: white;
    border-radius: 32px;
    border: none;
    background: linear-gradient(145deg, #348b60, #34be79);
    box-shadow:  40px 40px 90px #1f995c,
                 -40px -40px 90px #2fc279;
}

#b_timeline_j {
    color: #177245;
    text-align: center;
    font-size: large;
    margin-right: 2em;
    margin-top: 1em;
    padding: .25em 1.25em;
    min-width: 10%;
    border: none;
    border-radius: 32px;
    background: #2b2b31;
    box-shadow:  -14px 14px 28px #232328,
                14px -14px 28px #33333a;
    cursor: pointer;
}

/* Change Miri Button on Hover */
#b_timeline_j:hover {
    color: white;
    border-radius: 32px;
    border: none;
    background: linear-gradient(145deg, #348b60, #34be79);
    box-shadow:  40px 40px 90px #1f995c,
                 -40px -40px 90px #2fc279;
}

#b_travel_j {
    color: #177245;
    text-align: center;
    font-size: large;
    margin-right: 2em;
    margin-top: 1em;
    padding: .25em 1.25em;
    min-width: 10%;
    border: none;
    border-radius: 32px;
    background: #2b2b31;
    box-shadow:  -14px 14px 28px #232328,
                14px -14px 28px #33333a;
    cursor: pointer;
}

/* Change Miri Button on Hover */
#b_travel_j:hover {
    color: white;
    border-radius: 32px;
    border: none;
    background: linear-gradient(145deg, #348b60, #34be79);
    box-shadow:  40px 40px 90px #1f995c,
                 -40px -40px 90px #2fc279;
}

#b_home_j {
    color: #177245;
    text-align: center;
    font-size: large;
    margin-top: 1em;
    padding: .25em 1.25em;
    min-width: 10%;
    border: none;
    border-radius: 32px;
    background: #2b2b31;
    box-shadow:  -14px 14px 28px #232328,
                14px -14px 28px #33333a;
    cursor: pointer;
}

/* Change Miri Button on Hover */
#b_home_j:hover {
    color: white;
    border-radius: 32px;
    border: none;
    background: linear-gradient(145deg, #348b60, #34be79);
    box-shadow:  40px 40px 90px #1f995c,
                 -40px -40px 90px #2fc279;
}

/* ################################################### */

#greeting {
    padding: 0 1.5em;
    margin-top: 3em;
    font-size: large;
    text-align: center;
    color:rgb(205, 204, 204);
}


#container_foru {
    padding: .75em 1.5em;
    margin: 0 auto;
    margin-top: .25em;
    width: 80%;
    font-size: large;
    color: rgb(205, 204, 204);
    border-radius: 32px;
    background: #2b2b31;
    box-shadow: inset -10px 10px 21px #232328,
                inset 10px -10px 21px #33333a;
    cursor: pointer;
}

#foru_janis {
    text-align: center;
    width: 90%;
    font-size: large;
    color: rgb(205, 204, 204);
}

#b_mia {
    color: #177245;
    text-align: center;
    font-size: large;
    margin-top: 1em;
    padding: .25em 1.25em;
    min-width: 10%;
    border: none;
    border-radius: 32px;
    background: #2b2b31;
    box-shadow:  -14px 14px 28px #232328,
                14px -14px 28px #33333a;
    cursor: pointer;
}

/* Change Miri Button on Hover */
#b_mia:hover {
    color: white;
    border-radius: 32px;
    border: none;
    background: linear-gradient(145deg, #348b60, #34be79);
    box-shadow:  40px 40px 90px #1f995c,
                 -40px -40px 90px #2fc279;
}

#week {
    padding: 0 1.5em;
    margin-top: 3em;
    font-size: large;
    text-align: center;
    color:rgb(205, 204, 204);
}

/* Style container around week */
#mirisweek {
    padding: .75em 1.5em;
    margin: 0 auto;
    margin-top: .25em;
    width: 80%;
    font-size: large;
    color: rgb(205, 204, 204);
    border-radius: 32px;
    background: #2b2b31;
    box-shadow: inset -10px 10px 21px #232328,
                inset 10px -10px 21px #33333a;
    cursor: pointer;
}

ul {
    list-style-type: none;
    text-align: left;
    margin-top: 1em;
    margin-left: -1.25em;
}

#container_song {
    padding: .75em 1.5em;
    margin: 0 auto;
    margin-top: .25em;
    width: 80%;
    font-size: large;
    color: rgb(205, 204, 204);
    border-radius: 32px;
    background: #2b2b31;
    box-shadow: inset -10px 10px 21px #232328,
                inset 10px -10px 21px #33333a;
    cursor: pointer;
}

#song_janis {
    text-align: center;
    width: 90%;
    font-size: large;
    color: rgb(205, 204, 204);
}