body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Quicksand', sans-serif;
    background-color: #2b2b31;
}

/* Style Bootstrap Row */
.row {
    /* Make row responsive in every Displaysize (1.5em to left and right side) */
    padding: 0 1.5em;
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 5em;
    min-width: 50%;
}

/* Style Input Card */
#input_card {
    text-align: center;   
    border-radius: 32px;
    background: #2b2b31;
    box-shadow:  -10px 10px 21px #232328,
                10px -10px 21px #33333a; 
}

h1 {
    font-size: xx-large;
    margin-top: 1.5em;
    padding: 0 1.5em;
    color: rgb(205, 204, 204);
}

#b_home {
    color: #ad31ff;
    text-align: center;
    font-size: large;
    margin-top: .25em;
    margin-bottom: 2.25em;
    padding: .25em 1.25em;
    min-width: 10%;
    border: none;
    border-radius: 32px;
    background: #2b2b31;
    box-shadow:  -14px 14px 28px #232328,
                14px -14px 28px #33333a;
    cursor: pointer;
}

/* Change Miri Button on Hover */
#b_home:hover {
    color: white;
    border: none;
    border-radius: 50px;
    background: linear-gradient(145deg, #b874e5, #da8aff);
    box-shadow:  40px 40px 90px #b472e0,
                 -40px -40px 90px #e490ff;
}

#b_submit {
    color: #ad31ff;
    text-align: center;
    font-size: large;
    padding: .25em .5em;
    min-width: 7.5%;
    border: none;
    border-radius: 32px;
    background: #2b2b31;
    box-shadow:  -14px 14px 28px #232328,
                14px -14px 28px #33333a;
    cursor: pointer;
}

/* Change Miri Button on Hover */
#b_submit:hover {
    color: white;
    border: none;
    border-radius: 50px;
    background: linear-gradient(145deg, #b874e5, #da8aff);
    box-shadow:  40px 40px 90px #b472e0,
                 -40px -40px 90px #e490ff;
}

/* ################################################### */

.edit_content {
    padding: .25em 1.5em;
    margin: 0 auto;
    margin-top: .25em;
    margin-bottom: 1.5em;
    width: 85%;
    color: rgb(205, 204, 204);
    border-radius: 32px;
    background: #2b2b31;
    box-shadow: inset -10px 10px 21px #232328,
                inset 10px -10px 21px #33333a;
    cursor: pointer;
}

#greeting {
    padding: 0 1.5em;
    margin-top: 1.5em;
    font-size: large;
    text-align: center;
    color:rgb(205, 204, 204);
}

/* Style 💌 Userinputfield */
#for_janis {
    text-align: center;
    padding: .5em 1.5em;
    width: 65%;
    border: none;
    border-radius: 32px;
    background: #2b2b31;
    box-shadow: inset -10px 10px 21px #232328,
                inset 10px -10px 21px #33333a;
}

/* Change Userinputfield on focus */
#for_janis:focus {
    color: white;
    border: none;
    border-radius: 32px;
}

/* Change Placehold Color on focus */
#for_janis:focus::-webkit-input-placeholder {
    color: white;
}

/* Style 📅 Userinputfield */
.week_for_janis {
    text-align: center;
    padding: .5em 1.5em;
    margin-bottom: .75em;
    width: 65%;
    border: none;
    border-radius: 32px;
    background: #2b2b31;
    box-shadow: inset -10px 10px 21px #232328,
                inset 10px -10px 21px #33333a;
}

/* Change Userinputfield on focus */
.week_for_janis:focus {
    color: white;
    border: none;
    border-radius: 32px;
}

/* Change Placehold Color on focus */
.week_for_janis:focus::-webkit-input-placeholder {
    color: white;
}

/* Style Userinputfield */
.pingpong {
    text-align: center;
    padding: .5em 1.5em;
    width: 65%;
    border: none;
    border-radius: 32px;
    background: #2b2b31;
    box-shadow: inset -10px 10px 21px #232328,
                inset 10px -10px 21px #33333a;
}

/* Change Userinputfield on focus */
.pingpong:focus {
    color: white;
    border: none;
    border-radius: 32px;
}

/* Change Placehold Color on focus */
.pingpong:focus::-webkit-input-placeholder {
    color: white;
}